<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="landing is-preload">
    <h2><img src="{{ url_for('static', filename='images/icon.jpg') }}" alt="login image" class="login-img" width="50" <label>Profile</label></h2>
    
    <p><a href="http://127.0.0.1:5000/">Home</a></p>

    <img src="{{ url_for('static', filename='images/Control.jpg') }}" alt="login image" class="login-img" width="250" padding="5">
    <h1><a href="http://127.0.0.1:5000/course">course</a></h1> 

    <img src="{{ url_for('static', filename='images/raqueta.jpg') }}" alt="login image" class="login-img" width="250">
    <h1><a href="http://127.0.0.1:5000/course">course</a></h1> 
    
    <img src="{{ url_for('static', filename='images/tenis.jpg') }}" alt="login image" class="login-img" width="250">
    <h1><a href="http://127.0.0.1:5000/course">course</a></h1>
    
    <img src="{{ url_for('static', filename='images/escritorio.jpg') }}" alt="login image" class="login-img" width="250">
    <h1><a href="http://127.0.0.1:5000/course">course</a></h1> 


    
</body>
</html>